<?xml version="1.0" encoding="utf-8"?>

<!-- In principle, each app should have a unique package -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="rs.aleph.android.example1">

    <!--
   Posto zelimo da pozivamo servis samo kada smo povezani sa WIFI-jem
   moramo dodati prava nasoj aplikaciji:
       1) da moze da se poveze na internet
       2) da moze da proveri trenutno stanje povezanosti na mrezu
   -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">

        <!-- Declares 1st (main) activity. Action "MAIN" and category "LAUNCHER" properties
       makes it visible in the application launcher -->
        <activity
            android:name=".activities.FirstActivity"
            android:label="@string/first_activity_name"
            android:icon="@mipmap/ic_launcher"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

         <!--Declares SettingsActivity (the activity used to set app preferences).-->
        <activity
            android:name=".activities.SettingsActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/activity_settings_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.FirstActivity"/>


        <!--
        Moramo definisati punu putanju do naseg servis-a.
        Ovo je obavezno, bez definicije servis-a necemo moci ni da ga koristimo.
        -->
        <service android:name="rs.aleph.android.example1.async.SimpleService" />

        <!--
        Moramo definisati punu putanju do naseg receiver-a.
        Ovo je obavezno, bez definicije receiver-a necemo moci ni da ga koristimo.
        -->
        <receiver android:name="rs.aleph.android.example1.async.SimpleReceiver" />


    </application>

</manifest>


